<div class="container">
  <div class="row mt-4">
    <div class='mx-auto col- border-right'>
      <%= render 'layouts/sideber' %>
    </div>

    <div class='ml-1 col-10 mt-4'>
      <h3>おすすめ商品</h3>
      <div class='bg-warning rounded-pill p-1 mb-3'></div>

      <!--商品-->
      <div class="container">
      <div class="row">
      <div class="col">
        aaaaaaaaaaaaaaaaaaaaaaaa
      </div>
      
      <div class="col">
        aaaaaaaaaaaaaaaaaaaaaaa
      </div>
    
      <div class="col">
        aaaaaaaaaaaaaaaaaaaaaaa
      </div>
    
      </div>
      </div>

<!--ここまで-->
    </div>
  
  </div>
</div>


